.sidebar {
  width: 300px;
  /* background: #eee; */
  min-height: 200px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

.blogContent {
  // line-height: 1.688;
  font-size: 1.1em;
  // font-weight: 200;
}

.sticky {
  position: sticky;
  top: 80px;
}