body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1020px !important;
}

.row {
  display: flex;
  justify-content: center;
}

#navigation {
  position: fixed;
  background: rgba(255,255,255,.95);
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: rgba(0,0,0,.1);
}

/* mix server + client app */
.mixer {
  position: relative
}
.mixer-server {
  top: 0;
  position: sticky;
}
.mixer-client {
  top: 0;
  position: sticky;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h2 {
  border-bottom: 1px solid #eee;
}

a {
  text-decoration: none;
  color: #009688;
}
a:hover {
  text-decoration: underline;
}
code {
  background-color: rgba(27,31,35,.05);
  font-size: 1em;
  padding:2px 3px;;
}
pre code {
  background-color: #f6f8fa;
  font-size: 1em;
}
pre {
  background-color: #f6f8fa;
  padding: 10px;
  border-radius: 5px;
}
blockquote {
  border-left: 2px solid #009688;
  padding: 0px 20px;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}
hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}
em {
  font-weight: 200;
}
