body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #111;
  color: #d4d4d4;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// .container {
//   max-width: 1020px !important;
// }

.row {
  display: flex;
  justify-content: center;
}

#navigation {
  position: fixed;
  background: rgba(255,255,255,.95);
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: rgba(0,0,0,.1);
}

/* mix server + client app */
.mixer {
  position: relative
}
.mixer-server {
  top: 0;
  position: sticky;
}
.mixer-client {
  top: 0;
  position: sticky;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h2 {
  border-bottom: 1px solid #222;
}

a {
  text-decoration: none;
  color: #009688;
}
a:hover {
  text-decoration: underline;
}
code {
  background-color: rgba(27,31,35,.05);
  padding:2px 3px;;
}
pre code {
  /* font-size: 1em; */
  color: #ccc;
}
.content{
  pre {
    background-color: #26282c;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    overflow-x: auto;
    font-size: 14px;
    
    // @media screen and (min-width: 992px){
    //   margin: 5px -20px;
    //   // max-width: 640px;
    //   max-width: calc(100% + 40px);
    //   width: calc(100% + 40px);
    //   padding: 20px;
    // }
  }
  blockquote {
    border-left: 5px solid #5da0a1;
    // padding: 0 20px;
    /* font-weight: 300; */
    margin: 0;
    background: #0a0a0a;
    color: #e2777a;
    font-style: italic;
    padding: 0px 10px 0px 20px;
    // margin-block-start: 10px;
    p {
      padding: 10px 0;
    }
  }
  ul, ol {
    padding-left: 1.6em;
  }
  ol {
    list-style: none;
    counter-reset: li;
    &>li {
      // counter-increment: li;
      margin-top: .25em;
      &::before {
        content: counter(li) ". ";
        counter-increment: li;
        color: darkgray;
        font-weight: 600;
        font-weight: bold;
        position: absolute;
        left: 20px;
      }
    }
  }
}
hr {
  background-color: #000  ;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}
table {
  margin: auto;
}
table th {
  background-color: #333  ;
  padding: 5px;
}
table td {
  background-color: #222;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 14px;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

// */

// .hljs {
//   display: block;
//   overflow-x: auto;
//   padding: 0.5em;
//   color: #abb2bf;
//   background: #282c34;
// }

// .hljs-comment,
// .hljs-quote {
//   color: #5c6370;
//   font-style: italic;
// }

// .hljs-doctag,
// .hljs-keyword,
// .hljs-formula {
//   color: #61aeee;
// }

// .hljs-section,
// .hljs-name,
// .hljs-selector-tag,
// .hljs-deletion,
// .hljs-subst {
//   color: #e06c75;
// }

// .hljs-literal {
//   color: #56b6c2;
// }

// .hljs-string,
// .hljs-regexp,
// .hljs-addition,
// .hljs-attribute,
// .hljs-meta-string {
//   color: #98c379;
// }

// .hljs-built_in,
// .hljs-class .hljs-title {
//   color: #e6c07b;
// }

// .hljs-attr,
// .hljs-variable,
// .hljs-template-variable,
// .hljs-type,
// .hljs-selector-class,
// .hljs-selector-attr,
// .hljs-selector-pseudo,
// .hljs-number {
//   color: #ccc;
// }

// .hljs-symbol,
// .hljs-bullet,
// .hljs-link,
// .hljs-meta,
// .hljs-selector-id,
// .hljs-title {
//   color: #ffc107;
// }

// .hljs-emphasis {
//   font-style: italic;
// }

// .hljs-strong {
//   font-weight: bold;
// }

// .hljs-link {
//   text-decoration: underline;
// }


// .clearfix::after {
//   display: block;
//   content: "";
//   clear: both;
//   box-sizing: border-box;
// }





///////////////////////////
/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #ccc;
   background: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #2d2d2d;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #999;
 }
 
 .token.punctuation {
   color: #ccc;
 }
 
 .token.tag,
 .token.attr-name,
 .token.namespace,
 .token.deleted {
   color: #e2777a;
 }
 
 .token.function-name {
   color: #6196cc;
 }
 
 .token.boolean,
 .token.number,
 .token.function {
   color: #f08d49;
 }
 
 .token.property,
 .token.class-name,
 .token.constant,
 .token.symbol {
   color: #f8c555;
 }
 
 .token.selector,
 .token.important,
 .token.atrule,
 .token.keyword,
 .token.builtin {
   color: #cc99cd;
 }
 
 .token.string,
 .token.char,
 .token.attr-value,
 .token.regex,
 .token.variable {
   color: #7ec699;
 }
 
 .token.operator,
 .token.entity,
 .token.url {
   color: #67cdcc;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token.inserted {
   color: green;
 }
 
 