.sidebar {
  /* background: #eee; */
  min-height: 200px;
  border-radius: 10px;
  // margin-top: 20px;
  width: 100%;
  padding: 20px;
  @media screen and (min-width: 992px){
    width: 300px;
    padding: 0;
    margin-left: 50px;
  }
}

.blogContent {
  line-height: 1.5;
}

.sticky {
  position: sticky;
  top: 60px;
}
