extends layout.pug
block content
  .container()
    .row
      .blogWrap#serverContent(style={display: 'none'})
        h1.content-title= title
        div.loadingAuthor(style={height: '28px'})
        div!= content
      .sidebar  
    