extends layout
block head
  title=Fozg Blog
  meta(property="og:site_name", content="Blog on Fozg.net")
  meta(property="og:type", content="blog")
  meta(property="og:url", content="https://fozg.net/blog/" + slug)
  meta(property="og:title", content="Blog on Fozg.net")
  meta(property="og:description", content="Blog on Fozg.net")
  meta(property="og:updated_time", content="1551285168509")
  meta(property="og:image", content="/blog/public/f-read-box.png")

block content
  


  