extends layout
block head
  title="Tag " + tagName+  " on Fozg.net"
  meta(property="fb:app_id", content="634266176616209")
  meta(property="og:site_name", content="Blog on Fozg.net")
  meta(property="og:type", content="article")
  meta(property="og:url", content="https://fozg.net/blog/t/"+tagName)
  meta(property="og:title", content="Tag " + tagName+  " on Fozg.net")
  meta(property="og:description", content="Tag " + tagName+  " on Fozg.net")
  meta(property="og:updated_time", content="1551285168509")
  meta(property="og:image", content="https://fozg.net/blog/public/fblog.png")

block content
