.topnav {
  align-items: center;
  background-color: hsla(0,0%,100%,.98);
  font-weight: 600;
  // background-color: #eaf6f7;
  background-color: #ffffff;
  // border-bottom: 1px solid #abcfd0;
  border-bottom: 1px solid #f3f3f3;
}

.topnav--fix {
  border-bottom: 1px solid rgba(200,200,200,.3);
}

.logo {
  width: 45px;
  height: 45px;
}

.navItems {
  display: flex;
  flex-direction: row;  
  align-items: center;
  img {
    padding: 5px;
  }
}

.andChar  {
  color: #009688;
  // color: #ccc;
  margin: 0 5px;
}