.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.name {
  color: #666;
  height: 15px;;
}
.title {
  min-width: 100px;
}
.namensocial {
  display: flex;

}
.avtImage {
  border-radius: 50%;
  margin-right: 3px;
}

.small {
  width: 25px;
  height: 25px;
} 
.medium {
  width: 40px;
  height: 40px;
} 
.large {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}


.socialIconLink {
  margin: 0 3px;
  display: inline-block;
  vertical-align: middle;
}
// .socialIcon {
  
// }
.socialIcon-small {
  width: 15px;
  height: 15px;
}
.socialIcon-large {
  width: 18px;
  height: 18px;
}

.joined {
  font-family: monospace;
  color: #9c9c9c;
}