@import '../variables.scss';

.content {
  padding-top: 20px;
  
}

.title {
  margin-block-start: 0;
  margin-block-end: 0.3em;
}

.created {
  margin-left: 5px;
  color: #999;

}
.createdEm {
  font-style: normal;
  color: #999;
}

.authorLine {
  display: flex;
  align-items: flex-end;
}