.sideNavList {
  margin: 0;
  padding: 0;
  list-style: none;

  
  .linkWrap {
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 3px 5px -2px rgba(0,0,0,.03);
    display: block;
    margin-block-end: 15px;
    padding: 5px 10px;
    color: #000;
    transition: background-color .3s;
  }
  
  .tagItem {
    // padding: 2px 3px;
    // display: inline-block;
    // margin-right: 1px;
    // border-radius: 5px;
    color: #009688;
    font-size: 13px;
  }

  .linkWrap:hover {
    transition: none;
    background: #009688;
    color: #fff;
    text-decoration: none !important;
    // a {
    //   color: #009688;
    // }
    .tagItem {
      color: rgba(255,255,255,.6) !important;
    }
  }
  
}

