.sideNavList {
  margin: 0;
  padding: 0 0 0 20px;
  li {
    content: "\2022";
    color: #009688;
    a {
      color: #000;
    }
  }
}

.tagItem {
  // padding: 2px 3px;
  // display: inline-block;
  // margin-right: 1px;
  // border-radius: 5px;
  color: #009688;
  font-size: 13px;
}